node_modules
.next
.git
.gitignore
*.md
!DEPLOY.md
.env
.env.*
!.env.example
Dockerfile
.dockerignore
ecosystem.config.cjs
prisma/*.db
prisma/*.db-journal
public/uploads/*
!public/uploads/.gitkeep
coverage
.vercel
*.pem
.DS_Store
